
.normal {
  padding: 15px 0;
  position: relative;
  padding-left: 80px;
  padding-right: 20px;
  border-bottom: #ccc;
  text-align: left;
  cursor: pointer;
}
.normal:hover{
  background: #ddd;
}
.title p{
  line-height: 24px;
  overflow: hidden;
}
.avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.share span {
  font-weight: bold;
  color: blue;
  font-size: 14px;
  margin-right: 20px;
  
}
.shareTime {
  color: #999;
}